{% extends 'layout/base.html' %}

{% block content %}
        <!--====== LOADER =====-->
        <!--============= PAGE-COVER =============-->
        <section class="page-cover" id="cover-login">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    	<h1 class="page-title">Login Page</h1>
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Login Page</li>
                        </ul>
                    </div><!-- end columns -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end page-cover -->


        <!--===== INNERPAGE-WRAPPER ====-->
        <section class="innerpage-wrapper">
        	<div id="login" class="innerpage-section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                        	<div class="flex-content">
                                <div class="custom-form custom-form-fields">
                                    <h3>Login</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<!--                                    Đăng nhập nè-->
                                    {% if err_msg %}
                                    <div class="alert alert-danger">
                                        {{ err_msg }}
                                    </div>
                                    {% endif %}
                                    <h1 class="text-center text-danger">ĐĂNG NHẬP</h1>
                                    <form method="POST">
                                      <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text"
                                               name="username"
                                               class="form-control"
                                               placeholder="Nhap username..."
                                               id="username">
                                      </div>
                                      <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password"
                                               name="password"
                                               class="form-control"
                                               placeholder="Nhap password..."
                                               id="password">
                                      </div>

                                      <button type="submit" class="btn btn-primary">ĐĂNG NHẬP</button>
                                    </form>

                                    <div class="other-links">
                                    	<p class="link-line">New Here ? <a href="/register">Signup</a></p>
                                        <a class="simple-link" href="#">Forgot Password ?</a>
                                    </div><!-- end other-links -->
                                </div><!-- end custom-form -->

                                 <div class="flex-content-img custom-form-img">
                                    <img src="/static/images/login1.jpg" class="img-responsive" alt="registration-img" />
                                </div><!-- end custom-form-img -->
                            </div><!-- end form-content -->

                        </div><!-- end columns -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end login -->
        </section><!-- end innerpage-wrapper -->


        <!--======================= BEST FEATURES =====================-->
        <section id="best-features" class="banner-padding black-features">
        	<div class="container">
        		<div class="row">
        			<div class="col-sm-6 col-md-3">
                    	<div class="b-feature-block">
                    		<span><i class="fa fa-dollar"></i></span>
                        	<h3>Best Price Guarantee</h3>
                            <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                        </div><!-- end b-feature-block -->
                   </div><!-- end columns -->

                   <div class="col-sm-6 col-md-3">
                    	<div class="b-feature-block">
                    		<span><i class="fa fa-lock"></i></span>
                        	<h3>Safe and Secure</h3>
                            <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                        </div><!-- end b-feature-block -->
                   </div><!-- end columns -->

                   <div class="col-sm-6 col-md-3">
                    	<div class="b-feature-block">
                    		<span><i class="fa fa-thumbs-up"></i></span>
                        	<h3>Best Travel Agents</h3>
                            <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                        </div><!-- end b-feature-block -->
                   </div><!-- end columns -->

                   <div class="col-sm-6 col-md-3">
                    	<div class="b-feature-block">
                    		<span><i class="fa fa-bars"></i></span>
                        	<h3>Travel Guidelines</h3>
                            <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                        </div><!-- end b-feature-block -->
                   </div><!-- end columns -->
                </div><!-- end row -->
        	</div><!-- end container -->
        </section><!-- end best-features -->




        <!-- Page Scripts Starts -->
        <script src="static/pack/js/jquery.min.js"></script>
        <script src="static/pack/js/bootstrap.min.js"></script>
        <script src="static/pack/js/custom-navigation.js"></script>
        <!-- Page Scripts Ends -->
{% endblock %}
